<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <section class="container forms">
        <div class="form login">
            <header>Login</header>
            <div class="form-content">
                <form action="/login" method="post" autocomplete="off">
                    <div class="field input-field">
                        <input placeholder="Email" name="email" type="email" id="input" required>
                    </div>
                    <div class="field input-field">
                        <input placeholder="Password" name="passcode" type="password" id="inputField" required>
                        <i class="fas fa-eye" id="showIcon" onclick="toogleIcon()"></i> <i class="fas fa-eye-slash" id="hideIcon" onclick="toogleIcon()"></i>
                    </div>
                    <div class="field input-field">
                        <input class="button" type="submit">
                    </div>
                    
                
                </form>
                <h3>Dont have a account ?</h3>
                <a href="/signup">Create a new account</a>
            </div>
        </div>
    </section>   
</body>
<script src="/js/signlog.js"></script>
</html>